#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.container {
  background-color: white;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
}

.cantidad {
  font-size: 30px;
}

.dropDown {
  background-color: bisque;
  width: 300px;
}

.resumen {
  margin-bottom: 13px;
  margin-top: 5px;
  background-color: rgb(216, 216, 216);
  width: 200px;
}
